<div class="container">
  <div class="row">

    <div class="card col-md-6" style="width: 30rem;">
      <img src="../../assets/image-removebg-preview (15).png" class="card-img-top" alt="logo" width="200" height="150">

      <div class="card-body">
        <h2>Create a Quote!</h2><br>

        <div class="form-group mb-2">
          <label for="name">Your Name</label>
          <input type="text" class="form-control" name="name" placeholder="name.." required>
        </div><br>

        <div class="form-group mb-2">
          <label for="name">Author's Name</label>
          <input type="text" class="form-control" name="name" placeholder="Author's name.." required>
        </div><br>

        <div class="mb-2">
          <label for="description">Write Quote</label>
          <textarea type="text" class="form-control" name="description" rows="5" placeholder=" '' " required></textarea>

        </div>
        <button class="btn btn primary" type="submt">Add Quote</button>
      </div>

    </div>

    <div class="list col-md-6" style="text-align: center;">
        <h2>Quotes!</h2><br>
        <ul *ngFor="let quote of quotes" class="list-group">
            <li>{{quote.quote}} <span class="margin-left: 3%;"><button><img src="../../assets/arrowup.png"
                    alt="arrow up" [width]="40" class="upwnvote">{{quote.upvotes}}</button></span>
                    <span><button><img src="../../assets/arrowdown.png" alt="arrowdown"[width]="40" class="downvote">{{quote.downvotes}}</button></span>
            </li>
        </ul>
    </div>
  </div>
</div>
