 <!-- <p>{{quote.Author}}</p>
<p>{{quote.name}}</p>  -->
<!-- <h3>Published on:<span style="color: green;">{{quote.completeDate|date 'short'}}</span></h3> -->

<div class="likes">
  <p>Number of likes:</p>
  <!-- like button -->
   <button class="btn btn-success" (click)="likeButtonClick()">likes: </button>
  <span>{{numberOfLike}}</span><br><br>

  <!-- dislike button -->
   <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislikes: </button>
  <span>{{numberOfDislike}}</span><br><br>
</div> 

<!-- delete quote button -->
 <button class="del btn btn-primary btn-outline-primary btn-danger text-white"
  (click)="quoteComplete(true)">Delete Quote</button> 

<!-- <h3>Publish on:<span style="color: green;">{{quote.author|date 'short'|lowercase}}</span> </h3> -->
