<h1>{{quote.Author}}</h1>
<p>{{quote.name}}</p>
<h3>Publish on:<span style="color: green;">{{quote.completeDate|date 'short'}}</span></h3>

<div class="likes">
  <h2>Number of likes:</h2>
  <button class="btn btn-success" (click)="likeButtonClick()">like</button>
  <span>{{numberOfLike}}</span>
  <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
  <span>{{numberOfDislike}}</span>
</div>

<button class="del" (click)='quoteComplete(true)'>Delete</button>

<!-- <h3>Publish on:<span style="color: green;">{{quote.author|date 'short'|lowercase}}</span> </h3> -->
